html, body {
    user-select: none;
    background-color: #e2e2e2;
    font-family: verdana, serif;
    font-size: 11px;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

html .dark-theme, body .dark-theme {
    color: #fffb;
    /* background: radial-gradient(circle at 50% 33%, #999, #222); */
    /* background: radial-gradient(circle, #0581fd 0%, #1c1e20 100%); */
    background: radial-gradient(circle, #555a5f 0%, #1c1e20 100%);
}

.top-tier {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    flex-grow: 1;
}

.top-tier .punch-line {
    display: flex;
    opacity: 1;
    font-size: xxx-large;
    animation-name: punch-line-animation;
    animation-duration: 1s;
}

.top-tier .logo {
    display: flex;
    font-size: 180px;
    animation-name: logo-animation;
    animation-duration: 1s;
}

.middle-tier {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
}

.middle-tier .sections {
    display: flex;
}

.middle-tier .section {
    /*width: 200px;*/
}

.middle-tier .section .header {
    color: orange;
    text-align: center;
    font-size: x-large;
    text-decoration: underline;
}

.middle-tier .deployments-section .list {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    width: 1090px;
}

@media (max-width: 1200px) {
    .middle-tier .deployments-section .list {
        width: 900px;
        justify-content: center;
    }
}

@media (max-width: 900px) {
    .middle-tier .deployments-section .list {
        width: 600px;
        justify-content: center;
    }
}

.middle-tier .deployments-section .list .entry {
    display: flex;
    margin: 10px;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    box-shadow: 0 18px 6px -6px #333b;
}

.middle-tier .deployments-section .list .entry:hover {
    background-color: orange;
}

.middle-tier .deployments-section .list .entry > a {
    color: #fffb;
    width: 300px;
    padding: 20px;
    font-size: large;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.middle-tier .deployments-section .list .entry > a:hover {
    color: #1c1e20;
}

.bottom-tier {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    flex-grow: 9;
}

.bottom-tier .info {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.bottom-tier .info div {
    display: flex;
    margin: 2px 5px;
}

.bottom-tier .info .link > a {
    color: #fffb;
    text-decoration: none;
}

.bottom-tier .info .link > a:hover {
    text-decoration: underline;
}

.vertical-separator {
    display: flex;
    width: 25px;
    justify-content: center;
    align-items: center;
}

.vertical-separator .line {
    display: flex;
    width: 1px;
    border: 0 solid #fffb;
    border-left-width: 1px;
    height: 50%;
}

.horizontal-separator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-separator .line {
    display: flex;
    width: 500px;
    border: 0 solid #fffb;
    border-top-width: 1px;
}

@keyframes punch-line-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes logo-animation {
    0% {
        font-size: 0;
    }
    50% {
        font-size: 180px;
    }
}
