html, body {
    user-select: none;
    background-color: #e2e2e2;
    font-family: verdana, serif;
    font-size: 11px;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

html .dark-theme, body .dark-theme {
    color: #fffb;
    /* background: radial-gradient(circle at 50% 33%, #999, #222); */
    /* background: radial-gradient(circle, #0581fd 0%, #1c1e20 100%); */
    background: radial-gradient(circle, #555a5f 0%, #1c1e20 100%);
}

.top-tier {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    flex-grow: 1;
}

.top-tier .punch-line {
    display: flex;
    opacity: 1;
    font-size: xxx-large;
    animation-name: punch-line-animation;
    animation-duration: 1s;
}

.top-tier .logo {
    display: flex;
    font-size: 180px;
    animation-name: logo-animation;
    animation-duration: 1s;
}

.middle-tier {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
}

.middle-tier .sections {
    display: flex;
}

.middle-tier .section {
    width: 200px;
}

.middle-tier .section .header {
    color: #ffb;
    text-align: center;
    font-size: x-large;
    text-decoration: underline;
}

.middle-tier .deployments-section .list {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

.middle-tier .deployments-section .list .entry {
    margin: 5px 0 0;
    display: flex;
}

.middle-tier .deployments-section .list .entry > a {
    color: #fffb;
    font-size: large;
    text-decoration: none;
}

.middle-tier .deployments-section .list .entry > a:hover {
    text-decoration: underline;
}

.bottom-tier {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    flex-grow: 9;
}

.bottom-tier .info {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.bottom-tier .info div {
    display: flex;
    margin: 2px 5px;
}

.bottom-tier .info .link > a {
    color: #fffb;
    text-decoration: none;
}

.bottom-tier .info .link > a:hover {
    text-decoration: underline;
}

.vertical-separator {
    display: flex;
    width: 25px;
    justify-content: center;
    align-items: center;
}

.vertical-separator .line {
    display: flex;
    width: 1px;
    border: 0 solid #fffb;
    border-left-width: 1px;
    height: 50%;
}

.horizontal-separator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-separator .line {
    display: flex;
    width: 500px;
    border: 0 solid #fffb;
    border-top-width: 1px;
}

@keyframes punch-line-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes logo-animation {
    0% {
        font-size: 0;
    }
    50% {
        font-size: 180px;
    }
}
